<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.plona"
        versionCode="10" 
        version   = "1.0.0">


    <name>Plona</name>

    <description>
        Plona powered by PhoneGap 
    </description>

    <author href="http://zszczech.zut.edu.pl/git" email="zs@g.pl">
        ZnakZorro
    </author>
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
	
<access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />	
<access origin="*" launch-external="yes" />
<access origin="http://zszczech.com.pl" subdomains="true" />
<access origin="http://192.168.1.105" subdomains="true" />
<access origin="http://192.168.1.112" subdomains="true" />
<access origin="http://82.145.72.175" subdomains="true" />
<access origin="http://127.1.1.0" subdomains="true" />




	
		<icon src="plony.png" />
		<icon src="plony.png" gap:platform="android" gap:density="ldpi" />
		<icon src="plony.png" gap:platform="android" gap:density="mdpi" />
		<icon src="plony.png" gap:platform="android" gap:density="hdpi" />
		<icon src="plony.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="plony.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="plony.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="plony.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="plony.png" gap:platform="android" gap:density="xhdpi" />




<access origin="*" onlyInBrowser="true" />
<preference name="stay-in-webview" value="false" />
	

</widget>